body {
    color: #4b4b4b;
}
.container-fluid {
	padding: 0 40px; 
}
.section {
	padding: 65px 0 85px 0;
}

 /**    HEADER-TOP     ***/
.header-top {
    padding: 1.1rem 0px;
    background-color: #fff;
}
.header-button, .header-phone {
    color: #2E394E;
    font-weight: 500;
    letter-spacing: -0.2px;
    font-size: 15px;
}
.header-button {
    display: inline-block;
    text-align: center;
    margin-left: 30px;
}
.header-phone {
    background-image: url(../icon/phone.svg);
    background-repeat: no-repeat;
    background-position: 4% 57%;
    background-size: 0.8rem;
    padding-left: 20px;
}
.header-button:hover {
    color: #2E394E;
}

/**   NAVBAR    **/
.navbar {
    background-color: #fff !important; 
    border: 1px solid #E7E7E7;
    padding: .5rem 0;
}
.navbar-brand {
    display: none;
}
.navbar .navbar-toggler {
    padding: 0.45rem  0rem;
    padding-bottom: 0.25rem;
}
.navbar .navbar-toggler:focus {
     outline: none;
}

/**  меняем гамбургер в меню на крестик    **/
.line1, .line2, .line3 {
  display: block;
  width: 33px;
  height: 2px;
  background-color: #2E394E;
  margin-bottom: 6px;
  transition: 0.4s;
}
.change .line1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-41deg) translate(-4px, 6px) ;
}
.change .line2 {
  opacity: 0;
}
.change .line3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(41deg) translate(-5px, -7px) ;
}

.navbar-nav .nav-item a.nav-link {
    font-size: 15px;
    color: #2E394E;
    font-weight: 400;
    letter-spacing: 0.5px;
    padding: 0;
}
.navbar-nav .nav-item a.nav-link:link, .navbar-nav .nav-item a.nav-link:visited  {
    color: #2E394E;
}
.navbar-nav .nav-item a.nav-link:hover, .navbar-nav .nav-item a.nav-link:focus {
    color: #F05A4F;
    opacity: 0.9;
}
.navbar-nav .nav-item a.nav-link::after {
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    opacity: 0.9;
    background-color: #F05A4F;
    transform: translateY(20px) scale(0);
    transition: transform 0.2s;
}
.navbar-nav .nav-item a.nav-link:hover::after, .navbar-nav .nav-item a.nav-link:focus::after {
    transform: translateY(20px) scale(1);
}

.navbar-nav .dropdown-menu {
      border: none;
      border-radius: 0;
      top: 172%;
      font-size: 15px;
      box-shadow: 0 2px 6px 0 #C7C7C7;
}
.navbar-nav .dropdown-menu .dropdown-item {
      color: #2E394E;
}
.navbar-nav .dropdown-menu .dropdown-item:hover {
      color: #B5B5B5;
      text-decoration: none;
       background-color: #fff;
}
.navbar-nav .dropdown-toggle::after {
    border: none;
    margin-left: 0;
}
.navbar-nav .nav-item a.nav-link svg {
    width: 0.7rem;
    height: 0.7rem;
    fill: #2E394E;
    transition: all 0.3s;
}
.navbar-nav .nav-item a.nav-link:hover svg, .navbar-nav .nav-item a.nav-link:focus svg {
      fill: #F05A4F;
      opacity: 0.9;
}
a.navbar-btn {
    font-size: 13px;
    font-weight: 500;
    color: #F05A4F;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #F05A4F;
    padding: .8rem ;
    letter-spacing: 0.4px;
    transition: all .3s;
  }
a.navbar-btn:hover {
     color: #fff;
     background-color: #F05A4F;
     text-decoration: none;
}
a.navbar-call {
    display: none;
}

/**       top-container         **/
.top-container {
    position: relative;
    background-image: url(../img/pic5.3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    max-width: 1300px;
    margin: 0 auto;
    height: 40vmax;
    color: #fff;
    letter-spacing: -0.4px;
}
.top-box {
    margin-top: 9%;
}  
.top-container h1 {
     margin-bottom: 2.7rem;
}
.top-text {
    font-size: 1.1rem;
    letter-spacing: -0.5px;
}  
.top-text-one {
     margin-bottom: 0;
}
.top-text-two {
     margin-top: -9px;
     margin-bottom: 4rem;
}
a.top-button {
    display: inline-block;
    color: #fff;
    background-color: #F05A4F;
    }
a.top-button:hover {
    color: #F05A4F;
    background-color: #fff;
    text-decoration: none;
}

/***    courses         ***/
.courses .card {
	box-shadow: 0 2px 7px 0 rgb(25 25 25 / 16%);
	transition: box-shadow .3s;
}
.courses .card-body {
  padding: 1.5rem;
}
.courses .card-title {
    margin-bottom: 0;
    font-size: 0.85rem;
    text-transform: uppercase;
}
.courses .card-hover {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 1.5rem 2.5rem ;
    z-index: 5;
    background-color: #FBFBFB;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all .3s ease-in;
    border-radius: 0.25rem;
    font-size: 15px;
}
.courses .card:hover .card-hover{
    display: block;
    opacity: 1;
    box-shadow: 0 5px 13px 0 rgb(25 25 25 / 16%);
}
.courses .card-text {
 	color: #5C5C5C;
 	margin-bottom: calc(80px - 25px);
 }    
 .courses .card-link {
    color: #F05A4F;
 	padding: .5rem .75rem;
    border: 1px solid #F05A4F;
 }  

/**  select   ***/
.select {
    background-color: #FAFAFA;
    color: #2E394E;
}
.select .select-text {
    font-size: 15px;
    line-height: 1.3;
}
.select .select-title{
    margin-bottom: 0.8rem;
    font-size: 1.12rem;
}
.select-box-one {
    background-image: url(../icon/star.svg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 2.5rem;
    padding-top: 58px;
}
.select-box-two {
    background-image: url(../icon/secure.svg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 2.4rem;
    padding-top: 58px;
}
.select-box-three {
    background-image: url(../icon/mortarboard.svg);
    background-repeat: no-repeat;
    background-position: 10% -6%;
    background-size: 3.1rem;
    padding-top: 58px;
    padding-left: 18px;
}
.select-box-four {
    background-image: url(../icon/clock2.svg);
    background-repeat: no-repeat;
    background-position: 20% top;
    background-size: 2.3rem;
    padding-top: 58px;
    padding-left: 40px
}

/***    reviews       ***/
.carousel-inner {
	max-width: 48rem;
	box-shadow: 0 3px 8px 0 rgb(25 25 25 / 16%);
}
.block-reviews {
	 position: relative;
	 padding: 3rem;
	 max-width: 48rem;
	 min-height: 23rem;
	 border-radius: .3rem;
	 background-color: #fff;
}
.reviews-title {
    display: flex;
    flex-flow: row nowrap;
}
.reviews-img {
    margin-right: 1.8rem;
    margin-bottom: 1.8rem;
}
.box-reviews_title {
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.box-reviews_text {
    color: #7d7575;
    font-size: .85rem;
    text-transform: uppercase;
}
.box-reviews_icon {
    color: #F8EF7F;
}  
.reviews-text {
	font-size: 0.95rem;
}
.carousel-control-prev {
    left: 88%;
}
.carousel-control-next {
    right: 7%;
}
.carousel-control-prev, .carousel-control-next {
	font-size: 1.3rem;
	top: 69%;
	width: 0%;
	color: #F05A4F;
    opacity: 1;
}
.carousel-control-prev:hover , .carousel-control-next:hover,
.carousel-control-prev:focus , .carousel-control-next:focus
 {
	color: #F05A4F;
    opacity: 1;
}

/***     educate     ***/
.educate {
    background-color: #FAFAFA;
    color: #2E394E;
}
.educate h6 {
    margin-top: 0.5rem;
}

.educate-content {
    display: flex;
    flex-flow: column ;
}

/**      question        **/
.question-box {
     max-width: 72%;
     margin: 0 auto;
}
a.question-link {
    display: block;
    text-align: left;
    text-transform: uppercase;
    padding: 1.5rem 2rem;
    border-bottom: 1px solid #A9A9A9;
    border-radius: 0px;
    font-weight: 500;
    font-size: 13px;
    opacity: 1;
    background-image: url(../icon/plus1.svg);
    background-repeat: no-repeat;
    background-position: 96% 50%;
    background-size: 1rem;  
}
a.question-link:focus {
     box-shadow: none;
     outline: 0;
}
a.question-link:hover, a.question-link:focus  {
     background-color: #EDEDED;
     opacity: 0.5;
}
.button-collapse {
     color: #5B5B5B;
     font-size: 14px;
     padding: 10px 40px;
}

/**     contacts    ***/
.contacts {
    background-color: #FAFAFA;
    color: #2E394E;
}
.contacts-block {
    margin-bottom: 0.8rem;
}
.contacts-number {
    font-weight: 600;
}
.contacts-text {
    margin-top: -5px;
}
.contacts .form-group {
    padding-left: 0;
    margin-bottom: 0.8rem;
}
.contact-button {
     color: #fff;
     background-color: #F05A4F;
     padding: .5rem 1.7rem;
     border: 0;
}
.contact-button:hover {
    background-color: #D63B2F ;
    box-shadow: 4px 6px 7px #C0C6CC;
}
.contacts input, .contacts textarea {
     border-radius: 0;
}
.contacts input:focus, .contacts textarea:focus {
     border-color: #2C3238;
     box-shadow: none;
}
.contacts textarea {
    resize: none;
}
.social {
    bottom: 0;
    position: absolute;
    font-size: 0;
}
.social-link {
    display: inline-block; 
    width: 38px;
    height: 38px;
    margin-right: 12px;
    opacity: .6;
    transition: all .3s ease;
    vertical-align: top;
}
.social-link:hover {
    opacity: 1;
}

/**      footer      **/
.footer {
     color: #fff;
     background-color: #2E394E;
}
.footer span {
     font-size: 0.85rem;
}

/**    общие стили для всех модальных окон      */
.modal-title-phone {
     margin-bottom: 1rem;
     font-size: 1.3rem;
}
.modal-header {
     border-bottom: none;
     padding: 0.5rem 0.5rem;
}
.modal-input {
     border-radius: 0;
}
.modal input:focus, .modal select:focus {
     border-color: #2C3238;
     box-shadow: none;
}
.modal-button {
     margin-bottom: 1.2rem;
     border: 0;
     color: #fff;
     background-color: #F05A4F;
     padding: .375rem .75rem;
}
.modal-button:hover {
    background-color: #D63B2F ;
    box-shadow: 4px 6px 7px #C0C6CC;
}
.close {
   font-size: 2rem;
   line-height: 0.5;
}
.modal-body>.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}
.modal-body form {
    display: flex;
    flex-flow: column;
}
/*****                   ****/


/**   Модальное окно "Оставить заявку"   **/
.modal select {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../icon/arrow.svg);
    background-repeat: no-repeat;
    background-position: 97% 50%;
    background-size: 0.85rem 0.85rem;
}
.form-check {
    display: flex;
    flex-flow: nowrap;
    padding-left: 22px;
}
.check-box1 {
    margin-bottom: 0.3rem;
}
.check-box2 {
    margin-bottom: 1.8rem;
}
.form-check-label {
    font-size: 14px;
}


/**      МЕДИА ЗАПРОСЫ                 */

@media (max-width: 991.98px) {
    .section {
        padding: 50px 0 40px 0;
}
    .header-top {
        display: none;
    }
    .navbar-expand-lg>.container-fluid {
        padding: 0 40px;
    }
    a.navbar-button {
        display: block;
        margin-left: 0rem;
        margin-top: 0.8rem;
        margin-bottom: 1.3rem;
}
    .navbar-brand {
       display: inline-block;
       line-height: 0.7rem;
       margin-bottom: 4px;
}
    .navbar-collapse {
        padding: 20px 0 30px;
        height: 75vh; 
    }
    .navbar-collapse .nav-item {
        margin-bottom: 0.4rem;
  }
    .navbar-nav .dropdown-menu {
       box-shadow: none;
       padding: 0;
  }
    .navbar-nav .nav-item a.nav-link {
       height: 2.2rem;
       line-height: 2.2rem;
  }
    .navbar-nav .nav-item a.nav-link:hover::after, .navbar-nav .nav-item a.nav-link:focus::after {
         display: none;
  }
    a.navbar-call {
        display: block;
}
   .top-box {
      top: 10%;
  }
   .select-box-one, .select-box-two  {
      margin-bottom: 2.3rem;
  }
   .select-box-three, .select-box-four {
       padding-left: 0;
   }
    .select-box-three {
      background-position: 0% -6%;
  }
    .select-box-four {
       background-position: left top;
  }
    .educate-box {
       margin-bottom: 1.5rem;
  }
    .block-reviews {
      padding: 2.5rem;
  }
   .question {
       max-height: 560px;
}
   .question-block {
       margin-bottom: 0px;
}
   .question-box {
       max-width: 100%;
       margin: 0;
}
   .contacts-block {
      display: flex;
      flex-flow: row nowrap;
     }
   .contacts-text {
      margin-top: 0px;
}
   .contacts-number {
       margin-right: 0.6rem;
     }
   .contact-button {
        flex: 1;
     }
}

@media (max-width: 767.98px) {
    .section h4 {
        margin-bottom: 2rem !important;
     }
    .top-container h1, .top-text-two {
        margin-bottom: 1.8rem;
    }
     .courses .card-text {
        margin-bottom: 55px;
    }
    .courses .card {
        min-height: 225px;
    }
    .question {
        max-height: 620px;
    }
    .contacts-block {
        display: flex;
        flex-flow: row nowrap;
     }
    .contacts-text {
        margin-top: 0px;
    }
    .contacts-number {
         margin-right: 0.6rem;
     }
    .contact-button {
         flex: 1;
    }
    .social {
         position: relative;
         margin: 1.5rem 0;
         padding-bottom: 20px;
         border-bottom: 1px solid grey;
    }
}

@media (max-width: 575.98px) {
    .container-fluid {
        padding: 0 20px;
}
    .navbar-expand-lg>.container-fluid {
          padding: 0 20px;
    }
    .top-container {
        background-image: none;
        color: #000053;
        border-bottom: 1px solid #000053;
        
    }
    .top-container h1 {
         font-size: 2rem;
         margin-bottom: 1rem;
     }
    .top-text {
        font-size: 0.9rem;
    }
    .top-text-two {
        margin-bottom: 1.5rem;
        margin-top: 0;
    }

    .carousel-control-prev, .carousel-control-next {
        top: 90%;
  }
    .reviews-img {
       margin-right: 1.1rem;
       margin-bottom: 1.1rem;
}
   .box-reviews_icon {
       display: none;
   }
    .block-reviews {
       padding: 1.5rem;
}
   .carousel-control-prev {
      left: 83%;
} 
    .question {
        min-height: 540px;
}     
    a.question-link {
       padding: 1.1rem 1rem;
       font-size: 12px;
   }
    .contacts {
       font-size: 15px;
    }
}

@media (max-width: 413.98px) { 
     .top-container h1 {
        font-size: 1.8rem;
     }
     .top-container {
        height: 35vmax;
}
    
}

@media (max-width: 375.98px) {
    .container-fluid {
        padding: 0 10px;
}
    .navbar-expand-lg>.container-fluid {
        padding: 0 10px;
    }
    .question {
        min-height: 595px;
}
    a.question-link {
       padding: 1.1rem 0.5rem;
       font-size: 12px;
   }
    .contacts {
        font-size: 14px;
    }
}
@media (max-width: 321.98px) {
    .top-container {
        height: 52vmax;
}
}

 @media (max-width: 889.98px) {
    .box-media {
       flex-direction: column;
    }
}

@media (min-width: 1200px) { 
    .container-fluid {
        max-width: 1150px; 
  }
}

@media (min-width: 992px) { 
    .navbar-nav .nav-item .nav-link {
       padding-left: 0rem;
       margin-right: 1.8rem;
}
    .question {
       max-height: 545px;
 }
}



